/* icons */
.footer__icons__top{
  top: 80px;
}
.footer__img__left{
  top: 6px;
  left: 58px;
}
.footer__img__linked{
  left: 344px;
}
.footer__img__twitter{
  left: 382px;
}
.footer__img__facebook{
  left: 424px;
}
.footer__img__pinter{
  left: 458px;
}
/* icons end */
.footer__img__scare{
  right: 128px;
}
.footer__img__yellow{
  left: 1356px;
  top: 68px;
}