
body, html {
    margin: 0;
    background-color: rgb(133, 133, 133);
}
.container{
  margin: auto;
  width: 900px;
}
.overflow__hidden{
  overflow: hidden;
}
.d-flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.header{
  padding: 20px 0;
  font-size: 2rem;
}
.input{
  box-sizing: border-box;
  min-height: 40px;
  width: 450px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 0 0 0 15px;
}
.textarea__height{
  box-sizing: border-box;
  width: 450px;
  min-height: 120px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 15px 0 0 15px;
}
.fs-2{
  font-size: 1.5rem;
}
.form__post{
  margin-bottom: 2.5rem;
}
