.h1__bold{
  font-weight: bold;
  font-size: 50px;
  color: #000000;
  margin-bottom: 30px;
}
.btn{
width: 218px;
height: 40px;
background: #4fbbfa;
border-radius: 500px;
border: 0;
font-family: 'Apercu Arabic Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
margin-top: 15px;
cursor: pointer;
}
.btn:hover{
 opacity: 0.9;
}
/* //message */
.block__message{
  min-height: 100px;
  background-color: #eee;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 25px 20px;
}
/* header */
.img__user{
  width: 30px;
  border-radius: 50px;
  margin-right: 2px;
}
.img__added{
  max-width: 50px;
  border-radius: 4px;
}
.items__center{
  align-items: center;
}
.me-2{
  margin-right: 2px;
}
.ms-2{
  margin-left: 2px;
}
.file__block{
  margin-top: 15px;
}
.description__block{
  margin-top: 10px;
}